html { 
	padding-top: 50px; 
	background: url(../images/background.jpg) no-repeat center center fixed;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
