html { 
	padding-top: 50px; 
	background: url(../images/blur.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	@media (max-width: @iphone-screen) {
        background-attachment: scroll;
    }
}
p {
	font-size: 16px;
}
.topDiv {
	background: url(../images/courtroom.jpg) no-repeat center center fixed;
}