html { 
	padding-top: 50px; 
	
}
p {
	font-size: 16px;
	font-family: Cambria, Georgia, serif;
}
h1 {
	font-family: Cambria, Georgia, serif;
}
h2 {
	font-family: Cambria, Georgia, serif;
}
h3 {
	font-family: Cambria, Georgia, serif;
}
a {
	font-family: Cambria, Georgia, serif;
}
.topDiv {
	background: url(../images/courtroom.jpg) no-repeat center center fixed;
}
.center {
	text-align: center;
}
.frontPage {
	font-size: 24px;
}